body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.headersection {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    height: 300px;
    gap: 20px
}

.logo {
    display: flex;
    margin: 16px 0;
    font-size: 24px;
    color: #f9faf8;
}

.herotxt {
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

button {
    width: 100px;
    height: 25px;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: #f9faf8;
}

.image  {
   background-color: lightgray;

}