body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.headersection {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    height: 300px;
    gap: 20px;
    align-items: center;
}

.logo {
    display: flex;
    margin: 16px 0;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

/* .herotxt {
    color: #f9faf8;
} */

.awesome {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

button {
    width: 100px;
    height: 25px;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: #f9faf8;
    margin-top: 10px;
}

.placeholder  {
    background-color: slategrey;
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.subtext, a {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

