.header {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}

.header, .container {
    background-color: #1F2937;
    color: #f9faf8;
    font-family: Roboto, sans-serif;
}

.logo {
    display: flex;
    margin: 16px 0;
}
ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 16px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

button {
    width: 100px;
    height: 25px;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    color: #f9faf8;
}